/* Header */

.nav-container {
  margin-bottom: 30px;
}

.title-caption a {
  color: var(--color-dark-l, #545454);
}

.subtitle-caption {
  color: var(--color-light-3xl, #292929);
}

.nav-item {
  color: var(--color-dark-l, #545454);
}

a,
a.nav-link:link,
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
  color: var(--color-dark-l, #545454);
}

a.nav-link:hover {
  color: var(--color-light-3xl, #292929);
}

span.nav-link-active {
  color: var(--color-light-3xl, #292929);
}

/* Pet cards */

.main {
  width: 100%;
  background: var(--color-light-l, #f6f6f6);
}

.section-cards {
  padding: 80px 40px 100px 40px;
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.cards-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards-container {
  padding: 44px 0;
}

.pets-slider {
  padding: 16px 0;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 32px;
}

.pet-image-4 {
  background: url(../images/pets-sophia.png) no-repeat;
}

.pet-image-5 {
  background: url(../images/pets-timmy.png) no-repeat;
}

.pet-image-6 {
  background: url(../images/pets-charly.png) no-repeat;
}

.pet-image-7 {
  background: url(../images/pets-scarlett.png) no-repeat;
}

.pet-image-8 {
  background: url(../images/pets-freddie.png) no-repeat;
}

.pets-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.paginator-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paginator-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-primary, #f1cdb3);
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.control-active {
  background: var(--color-primary, #f1cdb3);
  cursor: default;
}

.paginator-control:hover {
  background: var(--color-primary, #f1cdb3);
}

.control-inactive,
.control-inactive:hover {
  color: var(--color-dark-s, #cdcdcd);
  border: 2px solid var(--color-dark-s, #cdcdcd);
  background: transparent;
  cursor: default;
}
