/* Header */

.nav-container {
  margin: 30px 40px;
}

.title-caption a {
  color: var(--color-dark-l, #545454);
}

.subtitle-caption {
  color: var(--color-light-3xl, #292929);
}

.nav-links-container {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}

.nav-item {
  color: var(--color-dark-l, #545454);
}

a,
a.nav-link:link,
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
  color: var(--color-dark-l, #545454);
}

a.nav-link:hover {
  color: var(--color-light-3xl, #292929);
}

span.nav-link-active {
  color: var(--color-light-3xl, #292929);
}
