/* burger */

@media (max-width: 767px) {
  .nav-links-container {
    display: none;
  }

  .burger-button-container {
    display: block;
  }
}

/* desktop */

@media (max-width: 1120px) {
  .footer-container {
    padding: 30px 30px 0 30px;
    width: var(--page-width-tablet);
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /*gap: 65px;*/
    gap: clamp(40px, calc(40px + 25 * ((100vw - 320px) / (768 - 320))), 65px);
  }

  .footer-content-container {
    padding: 0 34px;
    width: 100%;
    gap: 60px;
  }

  .footer-contacts-container {
    padding-top: 0;
    max-width: 278px;
  }

  .footer-location-container {
    padding-top: 0;
    max-width: 302px;
    margin-left: 0;
  }

  .footer-image-container {
    width: 100%;
    justify-self: center;
    justify-content: center;
  }
}

/* tablet */

@media (max-width: 768px) {
  .section-start {
    justify-content: center;
  }

  .start-container {
    max-width: var(--page-width-tablet);
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 100px;
  }

  .start-content-container {
    width: 460px;
    margin-top: 0px;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
  }

  .start-button-container {
    align-self: center;
  }

  .start-image-container {
    align-self: center;
    /*margin-left: 140px;*/
    margin-left: clamp(0px, calc(0px + 140 * ((100vw - 320px) / (768 - 320))), 140px);
    width: clamp(260px, calc(260px + 309 * ((100vw - 320px) / (768 - 320))), 569px);
    justify-content: center;
  }

  .start-image {
    width: clamp(260px, calc(260px + 309 * ((100vw - 320px) / (768 - 320))), 569px);
    height: clamp(272px, calc(272px + 321 * ((100vw - 320px) / (768 - 320))), 593px);
  }

  .section-about {
    margin-top: 1000px;
    padding: 0 0 100px 0;
  }

  .about-container {
    max-width: var(--page-width-tablet);
    padding-top: 138px;
    align-self: center;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 80px;
  }

  .about-content-container {
    max-width: 430px;
    align-self: center;
  }

  .about-image-container {
    align-self: center;
    margin-left: 0px;
  }

  .about-header {
    max-width: 370px;
  }

  .pets-container {
    max-width: var(--page-width-tablet);
    padding: 78px 30px 100px 30px;
  }

  .pets-slider {
    gap: 40px;
  }

  .pet-card-03 {
    display: none;
  }

  .help-container {
    padding: 82px 69px 100px 69px;
  }

  .help-items-container {
    column-gap: 60px;
    row-gap: 55px;
  }

  .help-item {
    width: 170px;
  }

  .donation-container {
    align-self: center;
    padding: 74px 192px 100px 192px;
    margin-left: auto;
    margin-right: auto;

    max-width: var(--page-width-tablet);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
}
